In [2]:
import pandas as pd

data = {
    "PatientID": [1, 2, 3, 4, 5],
    "Age": [45, 50, 36, 60, 40],
    "GlucoseLevel": [120, 135, 110, 140, 125],
    "Gender": ["Male", "Female", "Female", "Male", "Female"]
}

df = pd.DataFrame(data)
df

   PatientID  Age  GlucoseLevel  Gender
0          1   45           120    Male
1          2   50           135  Female
2          3   36           110  Female
3          4   60           140    Male
4          5   40           125  Female

In [12]:
df.describe(percentiles = [0.1,0.4,0.25]).T

,count,mean,std,min,10%,25%,40%,50%,max
PatientID,5.0,3.0,1.581139,1.0,1.4,2.0,2.6,3.0,5.0
Age,5.0,46.2,9.338094,36.0,37.6,40.0,43.0,45.0,60.0
GlucoseLevel,5.0,126.0,11.937336,110.0,114.0,120.0,123.0,125.0,140.0

In [29]:
df.describe().T

              count   mean        std    min    25%    50%    75%    max
PatientID       5.0    3.0   1.581139    1.0    2.0    3.0    4.0    5.0
Age             5.0   46.2   9.338094   36.0   40.0   45.0   50.0   60.0
GlucoseLevel    5.0  126.0  11.937336  110.0  120.0  125.0  135.0  140.0

In [30]:
df.T

                 0       1       2     3       4
PatientID        1       2       3     4       5
Age             45      50      36    60      40
GlucoseLevel   120     135     110   140     125
Gender        Male  Female  Female  Male  Female

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PatientID     5 non-null      int64
 1   Age           5 non-null      int64
 2   GlucoseLevel  5 non-null      int64
 3   Gender        5 non-null      object
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes

In [18]:
df.info(show_counts = True, memory_usage = True, verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PatientID     5 non-null      int64
 1   Age           5 non-null      int64
 2   GlucoseLevel  5 non-null      int64
 3   Gender        5 non-null      object
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes

In [21]:
df.shape

(5, 4)

In [22]:
df.shape[0]

5

In [23]:
df.shape[1]

4

In [25]:
df.columns

Index(['PatientID', 'Age', 'GlucoseLevel', 'Gender'], dtype='object')

In [26]:
list(df.columns)

['PatientID', 'Age', 'GlucoseLevel', 'Gender']

In [1]:
df

NameError: name 'df' is not defined